{{ define "main" }}

<h1>IMM103</h1>

<p>
Collection website for Immersive Media 103, F22. This website will contain up-to-date project and topic information, and any relevant files that can be made freely available online.
</p>
<div class="wrapper">
  <hr />
<h3 class="ta-center">Course Details</h3>
<p><strong>Meeting Times:</strong> Section 1: TBD. Section 2: TBD
  </p>
  <p>
    <strong>Office Hours:</strong> TBD
    </p>
    <p><a href={{ref . "assignments"}}> All Assignments</a>
    <hr />
    <h3 class="ta-center">Topics</h3>
{{ with .Site.GetPage "/topics" }}
    {{ range (sort .Data.Pages ".Params.topic" "asc" (where .Pages ".Params.private" "!=" true))}}
        <div class="topic" id={{ .Title }}>
            <h3>
                <a href="#{{.Title}}">#</a> {{ .Params.topic }} - <strong>{{ .Title }}</strong>
            </h3>
            {{ .Content }}
        </div>
    <hr style="width:60%; margin: auto" />
    {{ end }}
{{ end }}
</div>

{{ end }}
