.topic{
    display: inline;
}

hr::before .subdivider{
  width: 50%;
}

li strong {
  color: var(--color-neutral-shade3);
}

html {
  --color-primary-shade: hsl(350, 100%, 80%);
  --color-primary: hsl(350, 80%, 60%);
  --color-primary-tint: hsl(350, 60%, 40%);
  --color-accent-shade: hsl(170, 100%, 80%);
  --color-accent: hsl(170, 80%, 60%);
  --color-accent-tint: hsl(170, 60%, 40%);
  --color-link: hsl(230, 60%, 50%);
  --color-link-visited: hsl(290, 60%, 50%);
  --color-link-hover: hsl(230, 80%, 60%);
  --color-link-active: hsl(350, 60%, 50%);
  --color-neutral-shaded: hsl(170, 10%, 98%);
  --color-neutral-shade2: hsl(170, 10%, 85%);
  --color-neutral-shade1: hsl(170, 10%, 68%);
  --color-neutral: hsl(170, 10%, 55%);
  --color-neutral-tint1: hsl(170, 10%, 41%);
  --color-neutral-tint2: hsl(170, 10%, 30%);
  --color-neutral-tint3: hsl(170, 10%, 18%);
  --color-neutral-tinted: hsl(170, 10%, 2%);

  --color-neutral-tint4: #232425;
  --color-neutral-shade3: #A49393;
  --color-neutral-shade4: #f6eef0;
  --color-neutral-tint1: #A49393;
  --color-link:#E3DEDE;
  --color-link-visited:#CEC5C5;
  --color-link-hover: #8F7A7A;

}


.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-columns: 200px;
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    grid-auto-flow: row;
}
.grid-container .grid-item {
  background: black;
  display: grid;
  place-items: center;
  transition: background-color 0.3s;
}
.grid-container div a{
  width: 100%;
  height: 100%;
 display: -webkit-flex;
 color: transparent;
 text-decoration: none;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}

.center-text{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;

}

.grid-container div a .grid-item-hover{
  text-align: center;
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}
.grid-container div .grid-item-noimage{
  position: relative
}
.grid-container div .grid-item-nohover{
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
}

.grid-container div a:hover {
  background-color: rgba(0,0,0,0.75);
  color: white;
}