{{ define "main" }}
  <main>
    
 <h1>{{ .Title }}</h1>
      {{ .Content }}
          <div class="grid-container">
          {{ range .Paginator.Pages }}
              <div class="grid-item"
              {{ $image := .Resources.GetMatch "preview*" }}
              {{ with $image }}
                {{ $image := $image.Fill "400x400 center" }}
                  style="background: center / contain no-repeat url({{  $image.RelPermalink }});"
            {{ end }}>
              
              <a href="{{ .RelPermalink }}">
             {{ .Title }}
            </a>
              </div>
            {{ end }}

          </div>
  </main>
{{ end }}